body {
  background-color: lightcyan;
  color: darkgray;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

header{
  background-color: lightcyan;
  padding-top: 32px;
}

.title{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.center{
  width:350px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
}

.jct{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.result{
  color:white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  user-select: none;
  position:absolute;
  top: 100px;
  left: -1px;
  z-index: 11;
  visibility: hidden;
  transition-delay: 0.5s;
}

.tweet{
  color: white;
  background:deepskyblue;
  width: 100px;
  height: 30px;
  font-size: 25px;
  position:absolute;
  top: 100px;
  left: 125px;
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  transition-delay: 0.5s;
}

#tw1 > p{
  margin-top: 0;
}

#box{
  background:rgba(0,0,0,0.3);
  width: 350px;
  height: 175px;
  position:absolute;
  top: 100px;
  left: -1px;
  z-index: 10;
  visibility: hidden;
  transition-delay: 0.5s;
}

#failed > p{
  margin-top: 20px;
  margin-left: 110px;
}

#retry{
  color: white;
  background:#555555;
  width: 100px;
  height: 50px;
  font-size: 30px;
  position:absolute;
  top: 100px;
  left: 125px;
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  transition-delay: 0.5s;
}
#retry > p{
  margin-top: 5px;
}

#clear > p{
  margin-top: 20px;
  margin-left: 120px;
}

.jct > div{
  width: 100px;
  height: 100px;
  background: rgb(255,240,240);
  border-style: solid;
  border-color: pink;
  margin: 15px 5px auto;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 5px 0 pink;
  transition: 1s;
}

.jct > .music{
  background: none;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  color: white;
  text-align: center;
  font-style: oblique;
  font-family: futura;
  font-weight: lighter;
  text-shadow: 1px 1px 0 gray;
  position: absolute;
  box-shadow: none;
  border-style: none;
  user-select: none;
  top: 295px;
}

.jct > div:hover{
  opacity: 0.8;
}

.jct > .music:hover{
  opacity: 1;
}

footer {
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  margin-bottom: 60px;
  color: gray;
}

footer p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: gray
}
